html {
    font-family: sans-serif;
    background: lavenderblush;
    padding: 1rem;
}

h1 {
    color: rgb(98, 168, 211);
    font-family: Papyrus, fantasy;
    margin: 1rem 0.5;
    text-align: center;
    font-size: 32px;
}

a {
    color: CornflowerBlue;
    text-decoration: none;
}

nav {
    text-align: center;
}

nav a {
    display: inline-flex;
    padding: 0.5rem;
}