<!doctype html>
<!-- uncomment the line below later -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Message Submission Webapp!</h1>
  <!-- <b>Navigation:</b> -->
  <a href="{{ url_for('main') }}">Home</a>       
  <a href="{{ url_for('submit') }}">Submit a Message</a>    
  <a href="{{ url_for('view') }}">View Messages</a> 
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>