
<!doctype html>
<!-- uncomment the line below later -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<!-- <title>{% block title %}{% endblock %}</title> -->
<nav>
  <h1>Message Submission Webapp!</h1>
  <!-- <b>Navigation:</b> -->
  <ul>
    <li><a href="{{ url_for('main') }}">Main Page</a></li>
    <li><a href="{{ url_for('submit') }}">Submit</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>