{% extends 'base.html' %}

{% block header %}
    <h2> Submit a message </h2>
{% endblock %}

{% block content %}
    <form method = "post">
        <label for="message"> What is your message?</label>
        <input type="text" id="message" name="message">
        <br>
        <br>
        <label for="name"> What is your name?</label>
        <input type="text" id="name" name="name">
        <br>
        <br>
        <input type="submit" value="Submit message">
        <br>
    </form>
<br>
{% if name %}
Hello <b>{{name}}</b>, thank you for submitting your message!
{% endif %}

{% endblock %}